USE [master]
GO

/****** Object:  Database [NordaTrade_GmbH] ******/
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'NordaTrade_GmbH')
BEGIN
    ALTER DATABASE [NordaTrade_GmbH] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [NordaTrade_GmbH];
END
GO

CREATE DATABASE [NordaTrade_GmbH]
GO

USE [NordaTrade_GmbH]
GO

/****** Object:  Table [dbo].[AccountTier] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_AccountTier] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Category] ******/
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentID] [int] NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Country] ******/
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[RegionID] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Customer] ******/
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BillingAddress] [nvarchar](200) NOT NULL,
	[CountryID] [int] NOT NULL,
	[CreditLimit] [float] NOT NULL,
	[AccountTierID] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Customer_SalesRepresentative] ******/
CREATE TABLE [dbo].[Customer_SalesRepresentative](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesRepresentativeID] [int] NOT NULL,
	[AssignedDate] [datetime] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Customer_SalesRepresentative] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Date] ******/
CREATE TABLE [dbo].[Date](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullDate] [datetime] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[MonthNum] [int] NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
	[WeekNum] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[DayName] [nvarchar](50) NOT NULL,
	[IsBusinessDay] [bit] NOT NULL DEFAULT ((1)),
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Date] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[OrderLineItem] ******/
CREATE TABLE [dbo].[OrderLineItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SaleOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[PromotionID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_OrderLineItem] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Product] ******/
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CategoryID] [int] NOT NULL,
	[UnitCost] [float] NOT NULL,
	[ListingPrice] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Peoducts] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Promotion] ******/
CREATE TABLE [dbo].[Promotion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DiscountPercentage] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Promotion_Product] ******/
CREATE TABLE [dbo].[Promotion_Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Promotion_Product] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Quota] ******/
CREATE TABLE [dbo].[Quota](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SalesRepresentativeID] [int] NOT NULL,
	[TerritoryID] [int] NOT NULL,
	[FiscalPeriod] [nvarchar](100) NOT NULL,
	[TargetAmount] [float] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Quota] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Region] ******/
CREATE TABLE [dbo].[Region](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Return] ******/
CREATE TABLE [dbo].[Return](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderLineItemID] [int] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[ReturnReasonID] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Return] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[ReturnReason] ******/
CREATE TABLE [dbo].[ReturnReason](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_ReturnStatus] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[SaleOrder] ******/
CREATE TABLE [dbo].[SaleOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesRepresentativeID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[PaymentTerm] [nvarchar](100) NOT NULL,
	[ShippingDate] [datetime] NULL,
	[SaleStatusID] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_SaleOrder] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[SalesRepresentative] ******/
CREATE TABLE [dbo].[SalesRepresentative](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[RegionID] [int] NOT NULL,
	[StartingDate] [datetime] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_SalesRepresentative] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[SaleStatus] ******/
CREATE TABLE [dbo].[SaleStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_SaleStatus] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

/****** Object:  Table [dbo].[Territory] ******/
CREATE TABLE [dbo].[Territory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CountryID] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL DEFAULT (getdate()),
	[UpdatedOnDate] [datetime] NULL,
 CONSTRAINT [PK_Territory] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

---
--- FOREIGN KEYS
---
ALTER TABLE [dbo].[Category] ADD CONSTRAINT [FK_Category_Category] FOREIGN KEY([ParentID]) REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Country] ADD CONSTRAINT [FK_Country_Region] FOREIGN KEY([RegionID]) REFERENCES [dbo].[Region] ([ID])
GO
ALTER TABLE [dbo].[Customer] ADD CONSTRAINT [FK_Customer_AccountTier] FOREIGN KEY([AccountTierID]) REFERENCES [dbo].[AccountTier] ([ID])
GO
ALTER TABLE [dbo].[Customer] ADD CONSTRAINT [FK_Customer_Country] FOREIGN KEY([CountryID]) REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Customer_SalesRepresentative] ADD CONSTRAINT [FK_Customer_SalesRepresentative_Customer] FOREIGN KEY([CustomerID]) REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Customer_SalesRepresentative] ADD CONSTRAINT [FK_Customer_SalesRepresentative_SalesRepresentative] FOREIGN KEY([SalesRepresentativeID]) REFERENCES [dbo].[SalesRepresentative] ([ID])
GO
ALTER TABLE [dbo].[OrderLineItem] ADD CONSTRAINT [FK_OrderLineItem_Product] FOREIGN KEY([ProductID]) REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderLineItem] ADD CONSTRAINT [FK_OrderLineItem_Promotion] FOREIGN KEY([PromotionID]) REFERENCES [dbo].[Promotion] ([ID])
GO
ALTER TABLE [dbo].[OrderLineItem] ADD CONSTRAINT [FK_OrderLineItem_SaleOrder] FOREIGN KEY([SaleOrderID]) REFERENCES [dbo].[SaleOrder] ([ID])
GO
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID]) REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Promotion_Product] ADD CONSTRAINT [FK_Promotion_Product_Product] FOREIGN KEY([ProductID]) REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Promotion_Product] ADD CONSTRAINT [FK_Promotion_Product_Promotion] FOREIGN KEY([PromotionID]) REFERENCES [dbo].[Promotion] ([ID])
GO
ALTER TABLE [dbo].[Quota] ADD CONSTRAINT [FK_Quota_SalesRepresentative] FOREIGN KEY([SalesRepresentativeID]) REFERENCES [dbo].[SalesRepresentative] ([ID])
GO
ALTER TABLE [dbo].[Quota] ADD CONSTRAINT [FK_Quota_Territory] FOREIGN KEY([TerritoryID]) REFERENCES [dbo].[Territory] ([ID])
GO
ALTER TABLE [dbo].[Return] ADD CONSTRAINT [FK_Return_OrderLineItem] FOREIGN KEY([OrderLineItemID]) REFERENCES [dbo].[OrderLineItem] ([ID])
GO
ALTER TABLE [dbo].[Return] ADD CONSTRAINT [FK_Return_ReturnReason] FOREIGN KEY([ReturnReasonID]) REFERENCES [dbo].[ReturnReason] ([ID])
GO
ALTER TABLE [dbo].[SaleOrder] ADD CONSTRAINT [FK_SaleOrder_Customer] FOREIGN KEY([CustomerID]) REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[SaleOrder] ADD CONSTRAINT [FK_SaleOrder_SalesRepresentative] FOREIGN KEY([SalesRepresentativeID]) REFERENCES [dbo].[SalesRepresentative] ([ID])
GO
ALTER TABLE [dbo].[SaleOrder] ADD CONSTRAINT [FK_SaleOrder_SaleStatus] FOREIGN KEY([SaleStatusID]) REFERENCES [dbo].[SaleStatus] ([ID])
GO
ALTER TABLE [dbo].[SalesRepresentative] ADD CONSTRAINT [FK_SalesRepresentative_Region] FOREIGN KEY([RegionID]) REFERENCES [dbo].[Region] ([ID])
GO
ALTER TABLE [dbo].[Territory] ADD CONSTRAINT [FK_Territory_Country] FOREIGN KEY([CountryID]) REFERENCES [dbo].[Country] ([ID])
GO

---
--- CHECK CONSTRAINTS
---
ALTER TABLE [dbo].[Customer] ADD CONSTRAINT [CK_Customer_CreditLimit] CHECK (([CreditLimit]>(0)))
GO
ALTER TABLE [dbo].[Date] ADD CONSTRAINT [CK_Date_Day] CHECK (([DayOfWeek]>(0) AND [DayOfWeek]<(8)))
GO
ALTER TABLE [dbo].[Date] ADD CONSTRAINT [CK_Date_MonthNum] CHECK (([MonthNum]>(0) AND [MonthNum]<(13)))
GO
ALTER TABLE [dbo].[Date] ADD CONSTRAINT [CK_Date_Quarter] CHECK (([Quarter]>(0) AND [Quarter]<(5)))
GO
ALTER TABLE [dbo].[Date] ADD CONSTRAINT [CK_Date_WeekNum] CHECK (([WeekNum]>(0) AND [WeekNum]<(54)))
GO
ALTER TABLE [dbo].[Date] ADD CONSTRAINT [CK_Date_Year] CHECK (([Year]>(0)))
GO
ALTER TABLE [dbo].[OrderLineItem] ADD CONSTRAINT [CK_OrderLineItem_Quantity] CHECK (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderLineItem] ADD CONSTRAINT [CK_OrderLineItem_TotalPrice] CHECK (([TotalPrice]>(0)))
GO
ALTER TABLE [dbo].[OrderLineItem] ADD CONSTRAINT [CK_OrderLineItem_UnitPrice] CHECK (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [CK_Product_ListingPrice] CHECK (([ListingPrice]>(0)))
GO
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [CK_Product_Stock] CHECK (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [CK_Product_UnitCost] CHECK (([UnitCost]>(0)))
GO
ALTER TABLE [dbo].[Promotion] ADD CONSTRAINT [CK_Promotion_Discount] CHECK (([DiscountPercentage]>=(0) AND [DiscountPercentage]<=(100)))
GO
ALTER TABLE [dbo].[Quota] ADD CONSTRAINT [CK_Quota_Target] CHECK (([TargetAmount]>(0)))
GO